/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Darker+Grotesque:wght@300..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
}



body {
  font-family: "Montserrat", sans-serif;
}


.btn-font , li {
  font-family: "Montserrat", serif;
}

p li {
  list-style: circle;
}

li {
  list-style: none;
}
.serif-font {
  font-family: sans-serif;
}